<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <link rel=
</head>
<body>
    <div id="square" >
        <h1> 
            Pasek
        </h1>
        <form  action="http://localhost:8080/product/get" method="get">
        <div class="getform">
            <label for="say">id:</label>
            <input name="say" id="say" value="1" />
            <div>
                <button>Get</button>
              </div>
          </div>

         
        </div>
    </form>
    </div>  


    <script src="scripts.js"></script>
</body>
</html>